<li>
    <span class="burger-name">{{name}}</span>

    {{#unless devoured}}
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">To Devour</button>

    {{#if devoured}}
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">Already Devoured</button>
    {{/if}}

    <button class="delete-burger" data-id="{{this.id}}">Delete Burger</button>
</li>